/* Decor */
main .bubble{
    position: absolute;
    width:50vw;
    height:50vw;
    max-width: 700px;
    max-height: 700px;
    border-radius: 50%;
    right:-100px;
    top:-100px;
    z-index:1000;
    background-color: var(--light-green);
}

main .formula{
    position: absolute;
    font-family: 'Cedarville Cursive', cursive;
    color:var(--fun-blue);
    font-size:0.8em;

}
.item-1{
    left:500px;
    top:200px;
    
}
main .formula .wrapper{
    position: relative;
    width:100%;
    height:100%;
    color:inherit;
    background-color: inherit;
}



@media screen and (max-width:780px){
    .bubble{display:none}
}