main{
    position: relative;
    padding:50px 10vw;
    overflow:hidden;
}


main section{
    position: relative;
    margin-bottom:100px;
    text-align: center;
}
main section > h1{
    font-size:4em;
    text-transform: capitalize;
    font-weight:900;
}
main section > h2{
    margin-left:5px;
    font-size:1.7em;
    font-weight:600;
    color:var(--light-green);
}
main section > h2::first-letter{text-transform: capitalize;}


main section > p{
    margin:50px 0px;
}