*{
    margin:0;
    padding:0;
    border:none;
    outline: none;
    box-sizing: border-box;
    background-color: var(--white);
    color:var(--royal-blue);
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
:root{
    --white:rgb(231,238,246);
    --fun-blue:rgb(24,82,151);
    --royal-blue:rgb(58,133,219);
    --light-green:rgb(116,188,172);

    --white-data:231,238,246;
    --fun-blue-data:24,82,151;
    --royal-blue-data:58,133,219;
    --light-green-data:116,188,172;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}
main{
    flex: 1;
}

button.try{
    padding:20px 30px;
    background-color: var(--fun-blue);
    color:var(--white);
    border-radius: 50px;
    font-size:1.2em;
    min-width: 100px;
}